## Importando Bibliotecas

In [1]:
import pandas as pd
import requests
import schedule
import time
from plyer import notification
from datetime import datetime
import sqlite3
from funcoes import extracao_criacao_df, imprime_info_df, transformando_dados, salva_tabela_banco, carrega_banco

## Extraindo Dados da API

In [9]:
pokemon_raw = extracao_criacao_df("https://pokeapi.co/api/v2/pokemon")
tipo_raw = extracao_criacao_df("https://pokeapi.co/api/v2/type")
habilidade_raw = extracao_criacao_df("https://pokeapi.co/api/v2/ability")

-------------------- POKÉMON --------------------
Executando a tarefa
Página 1026: Erro ao acessar a API
-------------------- TIPO --------------------
Executando a tarefa
Página 19: Erro ao acessar a API
-------------------- HABILIDADE --------------------
Executando a tarefa
Página 308: Erro ao acessar a API

## Explorando e Transformando os dados

In [10]:
dfs = [pokemon_raw, tipo_raw, habilidade_raw]
nome = ["POKEMON","TIPO","HABILIDADE"]
imprime_info_df(dfs,nome)

-----INFORMAÇÕES-------

-----POKEMON-------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1025 non-null   int64
 1   nome        1025 non-null   object
 2   habilidade  1025 non-null   object
 3   exp_base    898 non-null    float64
 4   tipo        1025 non-null   object
 5   altura      1025 non-null   int64
 6   peso        1025 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 56.2+ KB
None
-----TIPO-------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        18 non-null     int64
 1   nome      18 non-null     object
 2   geracao   18 non-null     object
 3   pokemons  18 non-null     object
dtypes: int64(1), object(3)
memory usage: 704.0+ bytes
None
-----HABILIDADE-------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        307 non-null    int64
 1   nome      307 non-null    object
 2   geracao   307 non-null    object
 3   pokemons  307 non-null    object
dtypes: int64(1), object(3)
memory usage: 9.7+ KB
None
-----CABEÇALHOS-------

-----POKEMON-------
   id        nome               habilidade  exp_base             tipo  altura  \
0   1   bulbasaur  [overgrow, chlorophyll]      64.0  [grass, poison]       7
1   2     ivysaur  [overgrow, chlorophyll]     142.0  [grass, poison]      10
2   3    venusaur  [overgrow, chlorophyll]     263.0  [grass, poison]      20
3   4  charmander     [blaze, solar-power]      62.0           [fire]       6
4   5  charmeleon     [blaze, solar-power]     142.0           [fire]      11

   peso
0    69
1   130
2  1000
3    85
4   190
-----TIPO-------
   id      nome       geracao  \
0   1    normal  generation-i
1   2  fighting  generation-i
2   3    flying  generation-i
3   4    poison  generation-i
4   5    ground  generation-i

                                            pokemons
0  [pidgey, pidgeotto, pidgeot, rattata, raticate...
1  [mankey, primeape, poliwrath, machop, machoke,...
2  [charizard, butterfree, pidgey, pidgeotto, pid...
3  [bulbasaur, ivysaur, venusaur, weedle, kakuna,...
4  [sandshrew, sandslash, nidoqueen, nidoking, di...
-----HABILIDADE-------
   id          nome         geracao  \
0   1        stench  generation-iii
1   2       drizzle  generation-iii
2   3   speed-boost  generation-iii
3   4  battle-armor  generation-iii
4   5        sturdy  generation-iii

                                            pokemons
0  [gloom, grimer, muk, koffing, weezing, stunky,...
1                       [politoed, pelipper, kyogre]
2  [yanma, torchic, combusken, blaziken, ninjask,...
3  [cubone, marowak, kabuto, kabutops, anorith, a...
4  [geodude, graveler, golem, magnemite, magneton...

In [11]:
pokemon_clean = transformando_dados(pokemon_raw, "pokemon")
tipo_clean = transformando_dados(tipo_raw, "tipo")
habilidade_clean = transformando_dados(habilidade_raw, "habilidade")

In [12]:
dfs = [pokemon_clean, tipo_clean, habilidade_clean]
nome = ["POKEMON","TIPO","HABILIDADE"]
imprime_info_df(dfs,nome)

-----INFORMAÇÕES-------

-----POKEMON-------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3691 entries, 0 to 3690
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_pokemon  3691 non-null   int64
 1   nome        3691 non-null   object
 2   habilidade  3691 non-null   object
 3   exp_base    3691 non-null   float64
 4   tipo        3691 non-null   object
 5   altura      3691 non-null   int64
 6   peso        3691 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 202.0+ KB
None
-----TIPO-------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2028 entries, 0 to 2027
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id_tipo  2028 non-null   int64
 1   nome     2028 non-null   object
 2   geracao  2028 non-null   object
 3   pokemon  2028 non-null   object
dtypes: int64(1), object(3)
memory usage: 63.5+ KB
None
-----HABILIDADE-------
<class 'pandas.core.frame.DataFrame'>
Index: 2941 entries, 0 to 2941
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_habilidade  2941 non-null   int64
 1   nome           2941 non-null   object
 2   geracao        2941 non-null   object
 3   pokemon        2941 non-null   object
dtypes: int64(1), object(3)
memory usage: 114.9+ KB
None
-----CABEÇALHOS-------

-----POKEMON-------
   id_pokemon       nome   habilidade  exp_base    tipo  altura  peso
0           1  bulbasaur     overgrow      64.0   grass       7    69
1           1  bulbasaur     overgrow      64.0  poison       7    69
2           1  bulbasaur  chlorophyll      64.0   grass       7    69
3           1  bulbasaur  chlorophyll      64.0  poison       7    69
4           2    ivysaur     overgrow     142.0   grass      10   130
-----TIPO-------
   id_tipo    nome       geracao    pokemon
0        1  normal  generation-i     pidgey
1        1  normal  generation-i  pidgeotto
2        1  normal  generation-i    pidgeot
3        1  normal  generation-i    rattata
4        1  normal  generation-i   raticate
-----HABILIDADE-------
   id_habilidade    nome         geracao  pokemon
0              1  stench  generation-iii    gloom
1              1  stench  generation-iii   grimer
2              1  stench  generation-iii      muk
3              1  stench  generation-iii  koffing
4              1  stench  generation-iii  weezing

## Carrega no Banco de Dados

In [13]:
for i, df in enumerate(dfs):
    salva_tabela_banco(df,nome[i])

In [14]:
# teste

df_pokemon = carrega_banco("POKEMON")
df_tipo = carrega_banco("TIPO")
df_habilidade = carrega_banco("HABILIDADE")

In [15]:
df_pokemon.head()

   id_pokemon       nome   habilidade  exp_base    tipo  altura  peso
0           1  bulbasaur     overgrow      64.0   grass       7    69
1           1  bulbasaur     overgrow      64.0  poison       7    69
2           1  bulbasaur  chlorophyll      64.0   grass       7    69
3           1  bulbasaur  chlorophyll      64.0  poison       7    69
4           2    ivysaur     overgrow     142.0   grass      10   130

In [16]:
df_tipo.head()

   id_tipo    nome       geracao    pokemon
0        1  normal  generation-i     pidgey
1        1  normal  generation-i  pidgeotto
2        1  normal  generation-i    pidgeot
3        1  normal  generation-i    rattata
4        1  normal  generation-i   raticate

In [17]:
df_habilidade.head()

   id_habilidade    nome         geracao  pokemon
0              1  stench  generation-iii    gloom
1              1  stench  generation-iii   grimer
2              1  stench  generation-iii      muk
3              1  stench  generation-iii  koffing
4              1  stench  generation-iii  weezing